<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<h1 >form</h1>
<form action="/" th:object="${user}" method="POST" >
    <div>
        <label >first</label>
        <input th:field="*{firstName}">
        <p >Validation error</p>
    </div>
    <div>
        <label >last</label>
        <input th:field="*{lastName}">
        <p >Validation error</p>
    </div>
    <div>
        <label>email</label>
        <input type="email" th:field="*{email}">
        <p >Validation error</p>
    </div>
    <div>
        <label >password</label>
        <input type="password" th:field="*{password}">
        <p >Validation error</p>
    </div>
    <div>
        <label >confirm</label>
        <input type="password" th:field="*{matchingPassword}">
    </div>
    <button type="submit" >submit</button>
</form>

<a th:href="@{/login.html}" >login</a>

</html>